4. End-to-End Frontend Integration/4.1 Micro-Frontend Router Strategy/micro-app/node_modules
4. End-to-End Frontend Integration/4.1 Micro-Frontend Router Strategy/main-app/node_modules
4. End-to-End Frontend Integration/4.2 Bundle Optimization &amp; SSR Hydration/custom-ssr-react-app/node_modules
2. Angular-Focused Exercises/app/node_modules